<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="actioncable-headers-extension"
      version="1.0">

    <name>Actioncable WebSockets Extension</name>
    <description>Cordova Actioncanble Extension</description>

           <js-module src="actioncable-headers-extension.js" name="plugin">
                      <runs/>
                      <clobbers target="ActionCable" />
                      </js-module>
           
</plugin>
